<div>
  <h1>Features</h1>
  <ul>
    <li>
      <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
    </li>
    <li>
        <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
      </li> 
      <li>
          <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
        </li>
        <li>
            <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
          </li>
          <li>
              <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
            </li>
            <li>
                <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
              </li>
              <li>
                  <a href="">Attractive environment: Buildings and classrooms are clean, neat, and inviting.</a>
                </li>
  </ul>
</div>